# macOS artifact
.DS_Store

# Vim swap files
*.swp

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.venv/
staticfiles/

# Local server runtime files
.django.pid
.django.log
.vite.pid
.vite.log

# Frontend
frontend/node_modules/
frontend/dist/
